@model Spell_Editor.Models.DreadPower

@{
    ViewBag.Title = "Delete Dread Power";
}

<h2>Delete Dread Power</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dread Power</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Effect)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Effect)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
