@model Spell_Editor.Models.GrimoireModel

@{
    ViewBag.Title = "Create New Grimoire";
}

<h2>Create New Grimoire</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Grimoire Information</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Merit Dots</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Owned By</label>
            <div class="col-md-10">
                @Html.DropDownList("CharacterID", null, "Select", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CharacterID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="spellinfo">
            @foreach (var item in Model.Spells ?? new List<Spell_Editor.Models.Rote>())
            {
                Html.RenderPartial("_Spells", item);
            }
        </div>

        <div class="form-group">
            <p style="margin-left: 30%;">
                <input type="button" id="addRote" name="addRote" value="Add Rote" />
            </p>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea id="Description" name="Description" rows="12" class="form-control" cols="80"></textarea>
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
    $('#addRote').on('click', function () {
        $.ajax({
            async: false,
            url: '/Grimoire/AddSpell'
        }).success(function (partialView) {
            $('#spellinfo').append(partialView);
        });
    });

    function deleteFunction(link) {
        $(link).parents("#spellRow:first").remove();
    }

    $(".deleteRow").on("click", function () {
        $(this).parents("#spellRow:first").remove();
        return false;
    });
    </script>

}
