@model IEnumerable<Spell_Editor.Models.Grimoire_Table>

@{
    ViewBag.Title = "Grimoires";
}

<h2>Grimoires</h2>

<p>
    @Html.ActionLink("Create New Grimoire", "Create")
</p>
<table id="GrimoireTable" class="webgrid-table">
    <thead>
        <tr class="webgrid-header">
            <th>Name</th>
            <th>Grimoire Rating</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="webgrid-row-style">
                <td>@item.Name</td>
                <td>@item.Cost</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        var table = $('#GrimoireTable').DataTable();
    </script>
}
