@model IEnumerable<Spell_Editor.Models.Attainment_Table>

@{
    ViewBag.Title = "Attainments";
}

<h2>@ViewBag.Id Attainments</h2>

<p>
    @Html.ActionLink("Create New", "Create") |
    @Html.ActionLink("Back To List", "Index")
</p>
<table id="AttainmentTable" class="table webgrid-table">
    <thead>
        <tr class="webgrid-header">
            <th>Name</th>
            <th>Arcana</th>
            <th>Level</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="webgrid-row-style">
                <td>@item.attainment_name</td>
                <td>@item.attainment_arcana</td>
                <td>@item.attainment_level</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        var table = $('#AttainmentTable').DataTable();
    </script>
}
