@model IEnumerable<Spell_Editor.Models.Vampire_Devotion>

@{
    ViewBag.Title = "List of Devotions";
}

<h2>List of Devotions</h2>

<p>
    @Html.ActionLink("Create New Devotion", "Create")
</p>

<table id="DevotionTable" class="webgrid-table">
    <thead>
        <tr class="webgrid-header">
            <th>Name</th>
            <th>Cost</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="webgrid-row-style">
                <td>@item.Name</td>
                <td>@item.Cost</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        var table = $('#DevotionTable').DataTable();
    </script>
}
